@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

body{
  font-family: "Pangolin", cursive;
  font-size: 18px;
  scroll-behavior: smooth;
}

#home-section, #about-section, #projects-section, #skills-section, #contact-section {
  scroll-margin-top: 6rem;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}